<div class="container" [ngClass]="{'list-group-item-success': question.correct === answer && this.grading}"
    [ngClass]="{'list-group-item-danger': question.correct !== answer && this.grading}">
    {{this.question.question}}
    <div class="row">
        <div class="col-2" [hidden]="this.grading">
            <ul class="list-group">
                <div class="form-check form-check-inline" *ngFor="let choice of question.choices">
                    <input class="form-check-input" type="radio" name="radio" id="true" value={{choice}}
                        (click)="changeAnswer($event)">
                    <label class="form-check-label" for="true">{{choice}}</label>
                </div>
            </ul>
            <button class="btn btn-primary" (click)="grade()" [hidden]="this.grading">
                Grade
            </button>
        </div>
        <div class="col-8" [hidden]="!this.grading">
            <span [hidden]="question.correct !== answer">
                Correct! Answer: {{question.correct}}
            </span>
            <span [hidden]="question.correct === answer">
                Incorrect! Answer: {{question.correct}} Your Answer: {{this.answer}}
            </span>
        </div>
    </div>
</div>