<div class="container">
    <h1>Quizzes - {{this.courseId}}</h1>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item active">Quizzes</li>
                <li class="list-group-item" *ngFor="let quiz of quizzes">
                    <span>
                        {{quiz.title}}
                        <a routerLink="/quizzes/{{quiz._id}}" routerLinkActive="active">
                            <button class="btn btn-primary">
                                Start
                            </button>
                        </a>
                    </span>
                </li>
                <button class="btn btn-primary">
                    Start
                </button>
            </ul>
        </div>
    </div>
</div>